* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
    display: flex;
    background-color: black;
    background: url(images/background.jfif) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
}

.container {
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    padding: 50px;
    scroll-behavior: smooth;
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#mainContainer {
    display: none;
}
.errorMsg {
    color: red;
    display: none;
    font-size: medium;
}
.loginForm {
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    height: fit-content;
    width: fit-content;
    padding: 20px;
    margin: 30px 30px;
}
.form {
    width: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-auto-rows: 30px;
    row-gap: 10px;
    column-gap: 10px;
    color: white;
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    height: fit-content;
    padding: 20px;
    margin: 30px 30px;
}
.loginFormDiv {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-auto-rows: 30px;
    row-gap: 10px;
    column-gap: 10px;
    color: white;
}

.loginButton {
    display: flex;
    flex-direction: column;
}
.welcomeMsg {
    font-family:'Courier New', Courier, monospace;
    color:darkorchid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 500px;
}

label {
    font-size: 20px;
    color: white;
}
input {
    position: relative;
    width: 100%;
    padding: 10px 0;
    font-size: 12px;
    margin-bottom: 20px;
    border: none;
    color: white;
    border-bottom: 1px solid white;
    outline: none;
    background-color: transparent;
    color: inherit;
}

button {
    display: block;
    border: none;
    outline: none;
    background: rgb(230, 147, 24);
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.containerLogin button:hover {
    background: rgb(59, 9, 238);
    color: yellow;
}

.main-form {
    width: 500px;
    height: 580px;
    padding: 20px;
    margin: 30px 30px;
    column-gap: 10px;
    row-gap: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    align-self: center;
}

.main-form .btn-main {
    grid-column: 1/4;
    height: 50px;
}

.main-form table {
    border-collapse: collapse;
    width: 120px;
    height: 250px;
    display: grid;
    grid-column: 1/2;
    color: black;
    font-size: 20px;
    justify-content: center;
    outline: none;
}

.main-form table tr td {
    width: 115px;
    border: 1px solid white;
    padding: 13px;
    background-color: antiquewhite;
    text-align: center;
}

.main-form table tr td:hover {
    background-color: rgba(11, 201, 74, 0.466);
}

.main-form .table-group table tr:nth-child(even) {
    background-color: rgba(223, 73, 35, 0.575);
}

.main-form .image-tav {
    height: 480px;
    width: 350px;
    border: 1px solid white;
    grid-column: 2/4;
    display: grid;
    justify-content: center;
    border-radius: 5px;
}

.btn-main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
}

.btn-main button {
    display: block;
    border: none;
    outline: none;
    background: rgb(230, 147, 24);
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-main button:hover {
    background: rgb(59, 9, 238);
    color: yellow;
}

.map {
    position: relative;
    top: 5px;
    width: 340px;
    height: 465px;
}
.pointerImg {
    width: 48px;
    height: 66px;
}
.locationPointers {
    position: relative;
}
.location {
    position:absolute;
    left: 255px;
    top: -370px;
    width: min-content;
}

.pointer {
    cursor: crosshair;
    display: block;
}
.location .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .location:hover .tooltiptext {
    visibility: visible;
  }

#updateContact {
    display: none
}

#addContact {
    display: none
}

.contactCard {
    width: 100%;
    height: 100%;
    cursor: pointer;
}